body {

    background: #F4F4F4;
    margin:0;

}

.link-title {

    text-decoration: none;
    font-size: 50px;
    color:#444444;
    @font-family:


}

.page-heading {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

font-family:




}



.container {
    width:1200px;
    top: 50px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 9px 13px 5px;


}
#map {
  height: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {

    padding: 45px 0 20px 40px;

}

.menu {

    background: #3b7687;
    padding:10px 6px 10px 50px;


}


.menu a {

    color: #c5d6db;
    text-decoration: none;
    font-size: 20px;
    font-family: "Arial Narrow", "Myriad Pro";
}

.menu a:hover {

    color:#ecf2f3;


}

aside {

    float: left;
    width: 120px;
    padding: 30px 0 0 40px;

}

h1 {

    margin: 0px;
    color:#869843;
    font-size: 24px;
    font-family: "Arial Narrow", "Myriad Pro";
    font-weight: normal;

}

h2 {

    color:#3b7687;
    font-size: 15px;
    margin: 20px 0 5px 0;

}

.main {

    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    color: #444444;
    font-family: "Georgia";
    font-size: 13px;
    line-height: 18px;
    text-emphasis: justify;


}

.main a:hover {

    color: #444444;

}

#home-image img {

    width: 80%;

}





footer {

    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-decoration: right;
    clear: both;

}

footer a {
    text-decoration: none;
    color:#262626;


}

.separator {

    color:#FFFFFF;
    font-size: 11px;


}


/****************About Page Styles *****************/


#infoupdate #home-image img {

    width: 70%;
    float: left;
    margin-bottom: 20px;

}
#welcome {
    font-size: 50px;
    align-self: center;

}

#about-page #profile-info {

    float: right;
    width: 20%;
    margin: 5px;


}

#about-page .description {

    clear: both;


}


/***************Update Info Page ********************/

#UpdateInfo #form {

    width: 800px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 0px 9px 13px 5px;
    border-radius: 5px;


}



#UpdateInfo #form input {

    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: #D6D6D6;

}



#UpdateInfo #form #submit {
    height: 25px;
    background: rgb(59, 130, 135);

}





#logo {
  float: left;
  border-radius: 10px;
  position: relative;
  top:-75px;
  left: : 40;
  height: 250px;
  width: 250px;
}
